@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --corPrin: #041820;
    --fontPrin: 'Quicksand', sans-serif;
    --corSec: #263e7460;
    --navbar-color: #ffffff;
}

body{
    background-color: var(--corPrin);
}

footer{
    height: 70px;
    border-top: 1px solid white;
    background-color: #041820;
}

#text-link{
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: white;
}

.nav-item{
    margin: 4px;
}
.linha{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #ff5733;
    padding: 0px 0px 0px 0px;
}

.img-navbar{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.login{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}

.barra{
    display: flex;
    align-items: center;
}

.barra1{
    padding: 0px 0px 0px 0px;
}

.timeline {
    position: relative;
    margin: 50px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 30px;
}

.year {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: white;
}

.year::before {
    content: "▼";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.event-info {
    display: none;
    background: #272829;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 100px;
    border-radius: 4px;
    width: 500px; /* Largura fixa do event-info */
    height: 450px; /* Altura fixa do event-info */
    text-align: center;
}

.event-info h3, .event-info p {
    margin-top: 0px; /* Reduz o espaço superior dos textos */
}
