<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AII CALVOO</title>
</head>
<body>
    <form action="{% url 'cadastrar_user' %}" method="post">
        {% csrf_token %}
        <input name="user" type="text" placeholder="Nome de Usúario:" required>
        <input name="password" type="password" placeholder="Senha de Usúario:" required>
        <input name="mail" type="email" placeholder="Email de Usúario:" required>
        <button>ENVIAR</button>
    </form>
</body>
</html>